<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
                <img style="width:60px" src="{{this.thumbnail}}" 
                alt="{{this.title}}">
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>